.my-canvas {
    border: 1px solid red;
}

body {
    background-image: url(../img/fondo-plantas.jpg);
    display: block;
    position: relative;
    

 
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-image: url(../img/nubes-2.png);
    height: 650px;
    width: 1150px;
    display: block;

}



.hidden {
    display: none;
}