@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



body {
    font-family: 'VT323', monospace;
    font-size: 20.5px;
    background-image: url(../img/fondo-plantas.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    ;




}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/FONDO-INICIO.png);
    background-size: cover;
    width: 1150px;
    height: 650px;
    margin-top: 25px;


}


.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1150px;
    height: 650px;
    margin-top: 25px;


}

.info-juego {
    background-image: url(../img/CUADRO-START.png);
    background-size: cover;
    width: 415px;
    height: 295px;
}

.logo {
    width: 400px;

    margin-bottom: 20px;
}

.botones-info {
    width: 300px;
    padding-left: 60px;
}

.texto-explicacion {
    width: 350px;
    padding-left: 30px;
    text-align: justify;
}
#start-button, #reload-button{
    background: transparent;
    border: none;
    padding: 15px;
}
#start-button img, #reload-button img{
    width: 165px;
}

.hidden {
    display: none;
}