.my-canvas {
    border: 1px solid red;
}

body {
    background-image: url(../img/fondo-plantas.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;;


 
    
}

.container {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/nubes-2.png);
      width: 1150px;
      height: 650px;
      margin-top: 100px;


}

.game-container {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1150px;
      height: 650px;
      margin-top: 100px;


}



.hidden {
    display: none;
}